#rotorwash_dashboard {
    h4 {
        font-size: 14px;
        color: #464646;
        text-shadow: white 0 1px 0;
        margin: 1.75em 0 .75em;
        padding: 0 0 .25em;
        border-bottom: 1px solid #dfdfdf;
    }

    ul {
        margin: 0;
    }
}

.rotorwash-admin-form {
    label {

        input[type=radio] {
            margin-left: 15px;
            vertical-align: baseline;
        }
    }
}

.rw2-code {
    display: inline-block;
    padding: 10px;
    font-size: 90%;
    background-color: #eaeaea;
    border: 1px solid darken(#eaeaea, 10%);
    border-radius: 2px;
}
